@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FAF1E3;
  }

  .modal-background {
    background-color: #FAF1E3;
  }

  .border-elements {
    color: #88642A;
  }
}
.welcome-text {
  color: #88642A;
  font-size: 48px;
}

.welcome-back-cactus {
  width: 95px;
  height: 114px; 
}

.welcome-cat {
  margin-bottom: -14px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* you can resize here */
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
